<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nuvlabox.snapshots</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>nuvlabox.releases</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>sixsq.snapshots</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>sixsq.releases</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>sixsq.thirdparty</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>slipstream.snapshots</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>slipstream.releases</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>slipstream.snapshots.enterprise</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>slipstream.releases.enterprise</id>
      <username>${env.SIXSQ_NEXUS_USERNAME}</username>
      <password>${env.SIXSQ_NEXUS_PASSWORD}</password>
    </server>

  </servers>
</settings>
